<footer>
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
      <small>
        <span>©
          <a href="http://nikhilakki.in">Nikhil Akki</a>
        </span>
      </small>
    </div>
  </nav>
</footer>
