{% extends "_base.html" %}
{% block content %}

<div class="body-content">
  <div>
    <h1>About</h1>
    <hr><br>
    <p>We are a team of Data Scientists working towards building a transparent data insights and analytics platform.</p>
  </div>
</div>

{% endblock %}
